/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPecZTIAOhVxoMyOr9n_E7fdMPmDaZRbrw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzY5abuWI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
  font-size: 16px;
}

/*header styling*/

header{
  position: fixed;
  z-index: 1;
  height: 100px;
  width: 100%;
  background-color: white;
  top: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

header .inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: center;
  height: 100px;
  margin: 0 20rem;
}

.logo{


}
.logo img {
  height: 100px;
  width: 100px;

}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav {
  padding: 1rem 1rem;
  border: 1px solid black;
  margin-right: .5rem;
  border-radius: 25px;
}

nav span {
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 1.25rem;
}

/*end header styling*/

/*main logo styling*/

.social-icons{
  position: fixed;
  right: 1rem;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 3rem;
  height: 6rem;
}
.social-icons i:hover {
  color: red;
}

.social-icons i {
  font-size: 3rem;
  padding: 1rem 0rem;
  margin: 0 2rem;
  color: black;
}

.main-container {
  width: 100%;
  position: center;
}

.content{
  width: 1200px;
  margin: auto;
}

.main-image{
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  top: 80px;
  padding-left: 4rem;
}

.main-image img {
  height: 500px;
}

/*end main logo styling*/

/*dividing image styling*/

.section-image img {
  width: 1200px;
  height: 600px;
}

h1 {
  text-align: center;
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 4rem;
  padding: 1rem 0;
  text-shadow: 2px 2px #DFDDDC;
}

/*youtube video section styling*/


.youtube-top {
  display: flex;
  align-items: center;
  justify-content: center;

}

.youtube-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-content-1 {
  padding-right: .15rem;
}

.video-content-2 {
  padding-left: .15rem;
}

/*footer design*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.epk-button span {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: Titillium Web;
  text-shadow: 2px 2px #DFDDDC;
}

.UDlink span {
  font-family: Titillium Web;
  font-size: .75rem;
}

.UDlink a {
  text-decoration: none;
  font-weight: 700;
}

.UDlink a:hover {
  text-decoration: none;
  color: red;
  font-weight: 700;
  font-size: 1rem;
}
